<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LitigationCalendar</title>
</head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/common.css">

<!--font css-->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap"
	rel="stylesheet">

<!--Date Picker css-->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


<!-- JQ Grid Css & Js -->
<link rel="stylesheet" type="text/css"
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/redmond/jquery-ui.css" />
<link rel="stylesheet" type="text/css"
	href="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.3.1/css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css"
	href="http://www.ok-soft-gmbh.com/jqGrid/jquery-ui-multiselect/1.12/jquery.multiselect.css" />
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript"
	src="http://www.ok-soft-gmbh.com/jqGrid/jquery-ui-multiselect/1.12/jquery.multiselect.js"></script>
<script type="text/javascript"
	src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.3.1/js/i18n/grid.locale-en.js"></script>
<script type="text/javascript"
	src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.3.1/js/jquery.jqGrid.src-multiple1.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Left Nev Css & Js -->
<link rel="stylesheet" href="css/style2.css">
<script src="../static/js/litigationCalendar.js"
	th:src="@{js/litigationCalendar.js}" type="text/javascript"></script>
<div th:include="header :: header"></div>
<style>
.ui-widget-content a{
	text-decoration: underline;
}
.ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
    }
</style>
<body>
	<div class="wrapper">
		<div class="middle-part midiile-bg">
			<div class="middle-right">
				<span class="welcome-head">LITIGATION CALENDAR</span>
				<div class="hidden_form">
					<form id="litigationCalendarForm"
						th:object="${litigationSummaryVO}" class="form-horizontal">

						<div class="filter-form">
							<ul>
								<li>
									<div class="filter-form">
										<label for="usr">Zone</label> <select id="zoneName"
											th:field="*{zoneName}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="zone: ${allRegions}"
												th:value="${zone.zoneName}" th:text="${zone.zoneName}">test</option>
										</select>
									</div>
								</li>
								<li class="last">
									<div class="filter-form">
										<label for="usr">Format</label> <select id="format"
											th:field="*{format}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="format: ${allFormats}"
												th:value="${format.format}" th:text="${format.format}">test</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
						<div class="filter-form">
							<ul>
								<li>
									<div class="filter-form">
										<label for="usr">Entity</label> <select id="entityName"
											th:field="*{entityName}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="entity: ${allEntities}"
												th:value="${entity.entityName}"
												th:text="${entity.entityName}">test</option>
										</select>
									</div>
								</li>
								<li>
									<div class="filter-form">
										<label for="usr">Unit/Location</label> <select
											th:field="*{unitName}" id="unitLocation" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="unit: ${allUnitLocationDtls}"
												th:value="${unit.unitName}"
												th:text="${unit.unitName}">test</option>
										</select>
									</div>
								</li>
								<!-- <li class="last">
									<div class="filter-form">
										<label for="usr">Function</label> <select id="deptName"
											th:field="*{deptName}" class="custom-select">
											<option value="ALL">ALL</option>
											<option value="Legal">Legal</option>
										</select>
									</div>
								</li> -->
							</ul>
						</div>
						<div class="filter-form">
							<ul>
								<li>
									<div class="filter-form">
										<label for="usr">CounterParty</label> <select
											id="counterPartyName" th:field="*{counterPartyName}"
											class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="counterParty: ${allCounterParty}"
												th:value="${counterParty.counterPartyName}"
												th:text="${counterParty.counterPartyName}">test</option>
										</select>
									</div>
								</li>
								<li>
									<div class="filter-form">
										<label for="usr">Category</label> <select id="categoryName"
											th:field="*{categoryName}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="category: ${allCategories}"
												th:value="${category.categoryName}"
												th:text="${category.categoryName}">test</option>
										</select>
									</div>
								</li>
								<li class="last">
									<div class="filter-form">
										<label for="usr">Possible Claim(Range)</label> <select
											id="claim" th:field="*{claim}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="claim: ${allPossibleClaim}"
												th:value="${claim.claim}" th:text="${claim.claim}">test</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
						<div class="filter-form">
							<ul>
								<li>
									<div class="filter-form">
										<label for="usr">State</label> <select id="stateName"
											th:field="*{stateName}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="state: ${allStates}"
												th:value="${state.stateName}" th:text="${state.stateName}">test</option>
										</select>
									</div>
								</li>
								<li>
									<div class="filter-form">
										<label for="usr">City</label> <select id="city"
										th:field="*{cityName}"	class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="city: ${allCityDtls}"
												th:value="${city.cityName}" th:text="${city.cityName}">test</option>
										</select>
									</div>
								</li>
								<li class="last">
									<div class="filter-form">
										<label for="usr">Court/Forum</label> <select id="courtForum"
										th:field="*{courtForum}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="courtForumDtl: ${allCourtForumDtls}"
												th:value="${courtForumDtl.courtForum}" th:text="${courtForumDtl.courtForum}">test</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
						<div class="filter-form">
							<ul>
								<li>
									<div class="filter-form">
										<label for="usr">Lawfirm/Individual</label> <select
											id="lawfirm" th:field="*{lawfirm}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="lawfirm: ${allLawfirmDtls}"
												th:value="${lawfirm.lawfirm}" th:text="${lawfirm.lawfirm}">test</option>
										</select>
									</div>
								</li>
								<li>
									<div class="filter-form">
										<label for="usr">Police Station</label> <select
											id="policeStation" class="custom-select">
											<option value="ALL">ALL</option>
										</select>
									</div>
								</li>
								<li class="last">
									<div class="filter-form">
										<label for="usr">Court Type</label> <select id="courtTypeName"
											th:field="*{courtTypeName}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="courtType: ${allCourtTypeDtls}"
												th:value="${courtType.courtTypeName}"
												th:text="${courtType.courtTypeName}">test</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
						<div class="filter-form">
							<ul>
								<li>
									<div class="filter-form">
										<label for="usr">Under Act(s)</label> <select
											id="underActName" th:field="*{underActName}"
											class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="underAct: ${allUnderActDtls}"
												th:value="${underAct.underActName}"
												th:text="${underAct.underActName}">test</option>
										</select>
									</div>
								</li>
								<li>
									<div class="filter-form">
										<label for="usr">Risk</label> <select id="risk"
											th:field="*{risk}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="risk: ${allRiskDtls}"
												th:value="${risk.risk}" th:text="${risk.risk}">test</option>
										</select>
									</div>
								</li>
								<li class="last">
									<div class="filter-form">
										<label for="usr">Status</label> <select id="status"
											th:field="*{status}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="status: ${allStatusDtls}"
												th:value="${status.status}" th:text="${status.status}">test</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
						<div class="filter-form">
							<ul>
								<li>
									<div class="filter-form">
										<label for="usr">Litigation By/Against</label> <select
											th:field="*{litigationBy}" id="litigationByAgainst" class="custom-select">
											<option value="ALL">ALL</option>
											<option value="by">by</option>
											<option value="Against">Against</option>
										</select>
									</div>
								</li>
								<li class="last">
									<div class="filter-form">
										<label for="usr">Matter By/Against</label> <select
											id="matterBy" th:field="*{matterBy}" class="custom-select">
											<option value="ALL">ALL</option>
											<option th:each="matterByAgainst: ${allMatterByAgainstDtls}"
												th:value="${matterByAgainst.matterBy}"
												th:text="${matterByAgainst.matterBy}">test</option>
										</select>
									</div>
								</li>
							</ul>
						</div>

						<div class="filter-form">
							<span class="inside-head">PERIOD</span> <span
								class="black-head span-display">From Date</span>
							<ul>
								<li>
									<div class="filter-form">
										<label><sup class="red">*</sup>From Date:</label> <input
											type="text" id="fromDate" th:field="*{fromDate}"
											min="1000-01-01" placeholder="Todays" max="3000-12-31"
											class="form-control calander">
									</div>

								</li>

								<li class="last">
									<div class="filter-form">
										<label><sup class="red">*</sup>To Date:</label> <input
											type="text" id="toDate" th:field="*{toDate}" min="1000-01-01"
											placeholder="Todays" max="3000-12-31"
											class="form-control calander">
									</div>
								</li>
							</ul>
						</div>

						<div class="bottom-buttons">
							<input type="button" class="fourth login-bottom apply"
								id="searchBtn" value="SEARCH">
						</div>
					</form>
				</div>
				<div class="data-tablemain">
					<table id="litigationCalendarSummary" class="bgtable">
						<tr>
							<td />
						</tr>
					</table>
					<div id="litigationCalendarSummarypager"></div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="footer :: footer"></div>
</body>
</html>