<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Notice</title>
</head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" media="screen"
	href="../static/css/bootstrap.min.css" type="text/css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen" href="../static/css/common.css"
	type="text/css" th:href="@{css/common.css}" />
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" media="screen" href="../static/css/jquery-ui.css"
	type="text/css" th:href="@{css/jquery-ui.css}" />
<link rel="stylesheet" media="screen" href="../static/css/ui.jqgrid.css"
	type="text/css" th:href="@{css/ui.jqgrid.css}" />
<link rel="stylesheet" media="screen"
	href="../static/css/jquery.multiselect.css" type="text/css"
	th:href="@{css/jquery.multiselect.css}" />
<!-- Left Nev Css & Js -->
<link rel="stylesheet" href="../static/css/style2.css"
	th:href="@{css/style2.css}" type="text/css" />
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/js/popper.min.js" th:src="@{js/popper.min.js}"
	type="text/javascript"></script>
<script src="../static/js/bootstrap.min.js"
	th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
<script src="../static/js/jquery.min.js" type="text/javascript"
	th:src="@{js/jquery.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" type="text/javascript"
	th:src="@{js/jquery-ui.min.js}"></script>
<script src="../static/js/jquery.multiselect.js" type="text/javascript"
	th:src="@{js/jquery.multiselect.js}"></script>
<script src="../static/js/grid.locale-en.js" type="text/javascript"
	th:src="@{js/grid.locale-en.js}"></script>
<script src="../static/js/jquery.jqGrid.src-multiple1.js"
	type="text/javascript" th:src="@{js/jquery.jqGrid.src-multiple1.js}"></script>
<script src="../static/js/newNotice.js" type="text/javascript"
	th:src="@{js/newNotice.js}"></script>

  
<div th:include="header :: header"></div>
<body>
	<div class="wrapper">
		<p th:text="${message}" th:unless="${message == null}"
			class="alert alert-success">Test</p>
		<div class="middle-part midiile-bg">
			<div class="middle-right">
				<span class="welcome-head">ADD NOTICE</span>
				<div class="hidden_form">
					<form id="addNewNoticeForm" action="#" th:action="@{/addShowCauseNotice}"
						th:object="${showCauseNoticeVO}" method="post" enctype="multipart/form-data">
						
						<div class="filter-form">
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="entityDiv">
											<label for="usr"><sup class="red">*</sup>Entity</label> <select id="entityName"
												th:field="*{entityName}" class="custom-select"
												required="required">
												<option label="Select" value="-1">Select</option>
												<option th:each="entity: ${allEntities}"
													th:value="${entity.entityName}"
													th:text="${entity.entityName}">test</option>
											</select>
										</div>
									</li>
									<li>
										<div class="filter-form" id="formatDiv">
											<label for="usr"><sup class="red">*</sup>Format</label> <select id="formatName"
												th:field="*{formatName}" class="custom-select"
												required="required">
												<option value="Select">Select</option>
												<option th:each="formats: ${allFormats}"
													th:value="${formats.format}" th:text="${formats.format}">test</option>
											</select>
										</div>
									</li>
									<li class="last">
										<div class="filter-form" id="zoneDiv">
											<label for="usr"><sup class="red">*</sup>Zone</label> <select id="zoneName"
												th:field="*{zoneName}" class="custom-select">
												<option value="Select">Select</option>
												<option th:each="regions: ${allRegions}"
													th:value="${regions.zoneName}"
													th:text="${regions.zoneName}">test</option>
											</select>
										</div>
									</li>
								</ul>
							</div>
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="unitNameDiv">
											<label for="usr"><sup class="red">*</sup>Unit/Location</label> <select
												id="unitName" th:field="*{unitName}"
												class="custom-select">
												<option value="Select">Select</option>
												<option th:each="units: ${allUnitLocationDtls}"
													th:value="${units.unitName}" th:text="${units.unitName}">test</option>
											</select>
										</div>
									</li>
									<li>
										<div class="filter-form" id="noticeCategoryDiv">
											<label for="usr">Notice Category</label> <select
												id="noticeCategoryName" th:field="*{noticeCategoryName}"
												class="custom-select">
												<option value="Select">Select</option>
												<option value="Legal Notice">Legal Notice</option>
												<option value="Show Cause Notice">Show Cause Notice</option>
											</select>
										</div>
									</li>
									<li class="last">
										<div class="filter-form" id="noticeClassificationDiv">
											<label for="usr">Notice Classification:</label> <select
												id="noticeClassification" th:field="*{noticeClassification}"
												class="custom-select">
												<option value="Select">Select</option>
												<option value="Received">Received</option>
												<option value="Sent">Sent</option>
											</select>
										</div>
									</li>
								</ul>
							</div>
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="issueDateDiv">
											<label><sup class="red">*</sup>Issue Date:</label> <input type="text" id="issueDate"
												th:field="*{issueDate}" min="1000-01-01"
												placeholder="Todays" max="3000-12-31"
												class="form-control calander">
										</div>
									</li>
									<li>
										<div class="filter-form" id="receivedDateDiv">
											<label><sup class="red">*</sup>Received Date:</label> <input type="text"
												id="receivedDate" th:field="*{receivedDate}"
												min="1000-01-01" placeholder="Todays" max="3000-12-31"
												class="form-control calander" data-date-format="dd-MM-yyyy">
										</div>
									</li>
									<li class="last">
										<div class="filter-form" id="noticeReplyDeadLineDiv">
											<label><sup class="red">*</sup>Notice Reply DeadLine:</label><input type="text"
												id="noticeReplyDeadline" th:field="*{noticeReplyDeadline}"
												min="1000-01-01" placeholder="Todays" max="3000-12-31"
												class="form-control calander" data-date-format="dd-MM-yyyy" />
										</div>
									</li>
								</ul>
							</div>
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="subjectDiv">
											<label><sup class="red">*</sup>Subject:</label><input type="text" id="subject"
												required="required" th:field="*{subject}" />
										</div>
									</li>
									<li>
										<div class="filter-form" id="referenceNoDiv">
											<label>Reference No:</label><input type="text"
												id="referenceNo" th:field="*{referenceNo}" />
										</div>
									</li>
									<li class="last">
										<div class="filter-form" id="commentsDiv">
											<label><sup class="red">*</sup>Comment/Action Taken:</label><input type="text"
												id="comments" required="required" th:field="*{comments}" />
										</div>
									</li>
								</ul>
							</div>
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="receivedFromDiv">
											<label><sup class="red">*</sup>Received From (Statutory Authorities):</label> <input
												type="text"  id="receivedFrom"
												 th:field="*{receivedFrom}" />
										</div>
									</li>
									<li>
										<div class="filter-form" id="advocateNameDiv">
											<label for="usr">Advocate Name:</label><input type="text"
												 id="advocateName"
												th:field="*{advocateName}"  />
										</div>
									</li>

									<li class="last">
										<div class="filter-form" id="advocateAddressDiv">
											<label for="usr">Advocate Address:</label><input type="text"
												 id="advocateAddress"
												th:field="*{advocateAddress}" />
										</div>
									</li>
								</ul>
							</div>
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="allegationDiv">
											<label for="usr">Allegation:</label><input type="text"
												name="allegation" id="allegation" th:field="*{allegation}" />
										</div>
									</li>
									<li>
										<div class="filter-form" id="claimsDiv">
											<label for="usr">Claims:</label><input type="text"
												name="claims" id="claims" th:field="*{claims}" />
										</div>
									</li>
									<li class="last">
										<div class="filter-form" id="dealerNameDiv">
											<label for="usr">Dealer Name:</label><input type="text"
												name="dealerName" id="dealerName" th:field="*{dealerName}" />
										</div>
									</li>
								</ul>
							</div>
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="dealerAddressDiv">
											<label for="usr">Dealer Address:</label><input type="text"
												name="dealerAddress" id="dealerAddress"
												th:field="*{dealerAddress}" />
										</div>
									</li>
									<li>
										<div class="filter-form" id="otherPartiesDiv">
											<label for="usr">Other Parties:</label><input type="text"
												name="otherParties" id="otherParties"
												th:field="*{otherParties}" />
										</div>
									</li>
									<li class="last">
										<div class="filter-form" id="partyNoDiv">
											<label for="usr">Party No:</label><input type="text"
												name="partyNo" id="partyNo" th:field="*{partyNo}" />
										</div>
									</li>
								</ul>
							</div>
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="complaintNameDiv">
											<label for="usr">Complaints Name:</label><input type="text"
												name="complaintName" id="complaintName"
												th:field="*{complaintName}" />
										</div>
									</li>
									<li>
										<div class="filter-form" id="complaintAddressDiv">
											<label for="usr">Complaint Address:</label><input type="text"
												name="complaintAddress" id="complaintAddress"
												th:field="*{complaintAddress}" />
										</div>
									</li>
									<li class="last">
										<div class="filter-form" id="vehicleModelNumberDiv">
											<label for="usr">Vehicle Model Number:</label><input
												type="text" name="vehicleModelNumber"
												id="vehicleModelNumber" th:field="*{vehicleModelNumber}" />
										</div>
									</li>
								</ul>
							</div>
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="natureOfIpInfringementDiv">
											<label for="usr">Nature of IP Infringement:</label><input
												type="text" name="natureOfIpInfringement"
												id="natureOfIpInfringement"
												th:field="*{natureOfIpInfringement}" />
										</div>
									</li>
									<li>
										<div class="filter-form" id="noticeSentAddressDiv">
											<label for="usr">Notice Sent Address:</label><input
												type="text" name="noticeSentAddress" id="noticeSentAddress"
												th:field="*{noticeSentAddress}" />
										</div>
									</li>
									<li class="last">
										<div class="filter-form" id="noticeSentToDiv">
											<label for="usr">Notice Sent To:</label><input type="text"
												name="noticeSentTo" id="noticeSentTo"
												th:field="*{noticeSentTo}" />
										</div>
									</li>
								</ul>
							</div>
							<div class="filter-form">
								<ul>
									<li>
										<div class="filter-form" id="applicableSectionDiv">
											<label for="usr">Applicable Section:</label><input
												type="text" name="applicableSection" id="applicableSection"
												th:field="*{applicableSection}" />
										</div>
									</li>
									<li>
										<div class="filter-form" id="actionTakenDiv">
											<label><sup class="red">*</sup>Action Taken:</label><input type="text"
												id="actionTaken" required="required"
												th:field="*{actionTaken}" />
										</div>
									</li>
									<li class="last">
										<div class="filter-form" id="file">
											<label>Upload File:</label><input type="file" id="uploadFile" th:field="*{uploadFile}" />
										</div>
									</li>
								</ul>
							</div>
							<div class="bottom-buttons">
								<button type="submit" id="submitBtn" value="SUBMIT"
									class="btn btn-primary">SUBMIT</button>
								<button type="button" id="resetBtn" value="RESET"
									class="btn btn-secondary">RESET</button>
								<button type="button" id="cancelBtn" value="CANCEL"
									class="btn btn-secondary">CANCEL</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:include="footer :: footer"></div>
</body>
</html>