<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UpdateLitigation</title>
</head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" media="screen"
	href="../static/css/bootstrap.min.css" type="text/css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen" href="../static/css/common.css"
	type="text/css" th:href="@{css/common.css}" />
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" media="screen" href="../static/css/jquery-ui.css"
	type="text/css" th:href="@{css/jquery-ui.css}" />
<link rel="stylesheet" media="screen" href="../static/css/ui.jqgrid.css"
	type="text/css" th:href="@{css/ui.jqgrid.css}" />
<link rel="stylesheet" media="screen"
	href="../static/css/jquery.multiselect.css" type="text/css"
	th:href="@{css/jquery.multiselect.css}" />
<!-- Left Nev Css & Js -->
<link rel="stylesheet" href="../static/css/style2.css"
	th:href="@{css/style2.css}" type="text/css" />
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/js/popper.min.js" th:src="@{js/popper.min.js}"
	type="text/javascript"></script>
<script src="../static/js/bootstrap.min.js"
	th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
<script src="../static/js/jquery.min.js" type="text/javascript"
	th:src="@{js/jquery.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" type="text/javascript"
	th:src="@{js/jquery-ui.min.js}"></script>
<script src="../static/js/jquery.multiselect.js" type="text/javascript"
	th:src="@{js/jquery.multiselect.js}"></script>
<script src="../static/js/grid.locale-en.js" type="text/javascript"
	th:src="@{js/grid.locale-en.js}"></script>
<script src="../static/js/jquery.jqGrid.src-multiple1.js"
	type="text/javascript" th:src="@{js/jquery.jqGrid.src-multiple1.js}"></script>
<script src="../static/js/updateLitigation.js" type="text/javascript"
	th:src="@{js/updateLitigation.js}"></script>
<div th:include="header :: header"></div>
<body>
	<div class="middle-part midiile-bg">
		<div class="middle-right">
			<span class="welcome-head">UPDATE LITIGATION</span> <span
				class="small-head">Entity-Region-Units</span>
			<form id="updateLitigationForm" action="#"
				th:action="@{/updateLitigationDtls}" th:object="${ltgnDtls}"
				method="post">
				<div class="hidden_form">
					<span class="small-head">Entity-Region-Units</span>
					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Entity</label> <select
										id="entityNameId" th:field="*{entityName}"
										class="custom-select">
										<option value="Select">Select</option>
										<option th:each="entity: ${allEntities}"
											th:value="${entity.entityName}"
											th:text="${entity.entityName}">test</option>
									</select>
								</div>

							</li>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Zone</label> <select
										id="zoneNameId" th:field="*{zoneName}" class="custom-select">
										<option value="Select">Select</option>
										<option th:each="regions: ${allRegions}"
											th:value="${regions.zoneName}" th:text="${regions.zoneName}">test</option>
									</select>
								</div>
							<li class="last">
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Unit/Location</label>
									<select id="unitNameId" th:field="*{unitName}"
										class="custom-select">
										<option value="Select">Select</option>
										<option th:each="units: ${allUnitLocationDtls}"
											th:value="${units.unitName}" th:text="${units.unitName}">test</option>
									</select>
								</div>

							</li>
						</ul>
					</div>
					<div class="bottom-buttons">
						<input type="button" id="addLocationBtn"
							class="fourth login-bottom apply" value="ADD"> <input
							type="button" id="resetLocationBtn"
							class="fourth login-bottom apply cancel" value="RESET"> <input
							class="fourth login-bottom widthauto cancel center" type="button"
							id="addUnitLocation" value="ADD UNIT/LOCATION">
					</div>
					<!-- <div class="data-tablemain">
						<table id="entityRegionUnits" class="jqGrid">
							<tr>
								<th>EntityName</th>
								<th>Region</th>
								<th>UnitName</th>
								<th>Remove</th>
							</tr>
						</table>
					</div> -->
				</div>
				<div class="hidden_form">
					<span class="small-head">Matter By/Against</span>
					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Format</label> <select
										id="format" th:field="*{format}" class="custom-select"
										th:value="${ltgnDtls.format}">
										<option value="Select">Select</option>
										<option th:each="format: ${allFormats}"
											th:value="${format.format}" th:text="${format.format}">test</option>
									</select>
								</div>

							</li>
							<li>
								<div class="form-group">
									<label for="usr"> Address</label>
									<textarea rows="2" cols="35" id="address" th:field="*{address}"
										th:text="${ltgnDtls.address}"></textarea>
								</div>
							<li class="last">
								<div class="form-group">

									<label for="usr"><sup class="red">*</sup>
										Store/Office/Premises</label> <select class="custom-select"
										id="storeOfficePremises" th:field="*{storeOfficePremises}"
										th:value="${ltgnDtls.storeOfficePremises}">
										<option value="Select">Select</option>
										<option value="Operational">Operational</option>
										<option value="Non-Operational">Non-Operational</option>
									</select>
								</div>
							</li>
						</ul>
					</div>
					<div class="filter-form">

						<ul>
							<li>
								<div class="form-group">
									<label for="usr"> Co-Format</label> <input type="text"
										class="form-control" id="coFormat" th:field="*{coFormat}"
										th:value="${ltgnDtls.coFormat}" />
								</div>

							</li>
							<li><label for="usr"><sup class="red">*</sup>Matter
									By/Against:</label> <select id="matterByAgainstId" multiple="multiple"
								th:field="*{matterByAgainst}">
									<option value="Select">Select</option>
									<option th:each="matterByAgainstDtl: ${allMatterByAgainstDtls}"
										th:value="${matterByAgainstDtl.matterBy}"
										th:text="${matterByAgainstDtl.matterBy}">test</option>
							</select></li>

							<li class="last">
								<div class="bottom-buttons">
									<input
										class="fourth login-bottom widthauto blue-big button-width"
										type="button" id="addMatterByAgainst"
										value="CLICK TO ADD MATTER BY/AGAINST">
								</div>
							</li>

						</ul>
					</div>
					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Type</label> <select
										class="custom-select" id="customerType"
										th:field="*{customerType}" th:value="${ltgnDtls.customerType}">
										<option value="Select">Select</option>
										<option th:each="customerTypeDtl: ${allCustomerType}"
											th:value="${customerTypeDtl.customerType}"
											th:text="${customerTypeDtl.customerType}">test</option>
									</select>
								</div>
							</li>

							<li>
								<div class="form-group">
									<label for="usr">Co-Zone</label> <input type="text"
										class="form-control" id="coZone" th:field="*{coZone}"
										th:value="${ltgnDtls.coZone}"> <span><sup
										class="red">*</sup> <label>Function Head(s):Shrikant
											Gupta prashant rane, pankaj patel</label></span>
								</div>

							</li>

						</ul>
					</div>
				</div>
				<div class="hidden_form">
					<span class="small-head">Counter Party</span>
					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr" id="counterPartyId"><sup class="red">*</sup>Defendant</label>
									<select class="custom-select" id="counterParty"
										th:field="*{counterPartyName}"
										th:value="${ltgnDtls.counterPartyName}">
										<option value="Select">Select</option>
										<option th:each="counterPartyDtl: ${allCounterPartyDtls}"
											th:value="${counterPartyDtl.counterPartyName}"
											th:text="${counterPartyDtl.counterPartyName}">test</option>
									</select>
								</div>

							</li>
							<li>
								<div class="form-group">
									<label for="usr">Co-Counter Parties</label> <input type="text"
										class="form-control" id="coCounterParties"
										th:field="*{coCounterParties}"
										th:value="${ltgnDtls.coCounterParties}">
								</div>
							</li>
							<li class="last">
								<div class="bottom-buttons">
									<input type="button"
										class="fourth login-bottom widthauto blue-big button-width"
										value="CLICK TO ADD COUNTER PARTY" id="addCounterParty">
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="hidden_form">
					<!-- 				<form th:object="${addLitigationVO}"> -->
					<span class="small-head">Case Details</span>
					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr">Subject</label> <input type="text"
										class="form-control" id="subject" th:field="*{subject}"
										th:value="${ltgnDtls.subject}">
								</div>

							</li>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Category</label> <select
										class="custom-select" id="categoryName"
										th:field="*{categoryName}" th:value="${ltgnDtls.categoryName}">
										<option value="Select">Select</option>
										<option th:each="category: ${allCategory}"
											th:value="${category.categoryName}"
											th:text="${category.categoryName}">test</option>
									</select>
								</div>

							</li>

							<li class="last">
								<div class="bottom-buttons">
									<input type="button"
										class="fourth login-bottom widthauto blue-big button-width"
										value="CLICK TO ADD CATEGORY" id="addCategory">
								</div>
							</li>
						</ul>
					</div>

					<div class="filter-form">
						<ul>
							<li><label for="usr"><sup class="red">*</sup> Case
									Number</label>
								<div class="form-group">
									<input type="text" class="form-control" id="caseNumber"
										th:field="*{caseNumber}" th:value="${ltgnDtls.caseNumber}">
								</div></li>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Risk
										Assessment</label> <select class="custom-select" id="risk"
										th:field="*{risk}" th:value="${ltgnDtls.risk}">
										<option value="Select">Select</option>
										<option th:each="riskDtl: ${allRiskDtls}"
											th:value="${riskDtl.risk}" th:text="${riskDtl.risk}">test</option>
									</select>
								</div>

							</li>

							<li class="last">
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Possible
										Claim(Range)</label> <select class="custom-select" id="claim"
										th:field="*{claim}" th:value="${ltgnDtls.claim}">
										<option value="Select">Select</option>
										<option th:each="possibleClaim: ${allPossibleClaim}"
											th:value="${possibleClaim.claim}"
											th:text="${possibleClaim.claim}">test</option>
									</select>
								</div>
							</li>
						</ul>
					</div>

					<div class="filter-form">
						<ul>
							<li><label for="usr"> Possible Claim</label>
								<div class="form-group">
									<input type="text" class="form-control" id="possibleClaim"
										th:field="*{possibleClaim}"
										th:value="${ltgnDtls.possibleClaim}">
								</div></li>
							<li>
								<div class="form-group">
									<label for="usr">Pantaloon File No</label> <input type="text"
										class="form-control" id="pantaloonFileNo" th:field="*{fileNo}"
										th:value="${ltgnDtls.fileNo}">
								</div>

							</li>
							<li class="last"><label for="usr"> Under
									Section(U/S)</label>
								<div class="form-group">

									<input type="text" class="form-control" id="underSection"
										th:field="*{underSection}" th:value="${ltgnDtls.underSection}">
								</div></li>
						</ul>
					</div>

					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr">Other Under Act(s)</label> <input type="text"
										class="form-control" id="otherUnderacts"
										th:field="*{otherUnderAct}"
										th:value="${ltgnDtls.otherUnderAct}">
								</div>
							</li>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Under Act(s)</label>
									<select class="custom-select" id="underActName"
										th:field="*{underActName}" th:value="${ltgnDtls.underActName}">
										<option value="Select">Select</option>
										<option th:each="underActDtl: ${allUnderActDtls}"
											th:value="${underActDtl.underActName}"
											th:text="${underActDtl.underActName}">test</option>
									</select>
								</div>
							</li>
							<li class="last">
								<div class="bottom-buttons">
									<input type="button"
										class="fourth login-bottom widthauto button-width fr"
										value="CLICK TO ADD UNDER ACT(S)" id="addUnderActs">
								</div>
							</li>
						</ul>
					</div>


					<div class="filter-form">
						<ul>
							<li><label for="usr"> Judge/Authorty Name</label>
								<div class="form-group">

									<input type="text" class="form-control" id="judgeName"
										th:field="*{judgeName}">

								</div></li>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Court Type</label> <select
										class="custom-select" id="courtTypeName"
										th:field="*{courtTypeName}"
										th:value="${ltgnDtls.courtTypeName}">
										<option value="Select">Select</option>
										<option th:each="courtTypeDtl: ${allCourtTypeDtls}"
											th:value="${courtTypeDtl.courtTypeName}"
											th:text="${courtTypeDtl.courtTypeName}">test</option>
									</select>
								</div>

							</li>

							<li class="last">
								<div class="bottom-buttons">
									<input type="button"
										class="fourth login-bottom widthauto button-width"
										value="CLICK TO ADD COURT TYPE" id="addCourtType">
								</div>
							</li>
						</ul>
					</div>
					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> State</label> <select
										class="custom-select" id="state" th:field="*{stateName}"
										th:value="${ltgnDtls.stateName}">
										<option value="Select">Select</option>
										<option th:each="stateDtl: ${allStateDtls}"
											th:value="${stateDtl.stateName}"
											th:text="${stateDtl.stateName}">test</option>
									</select>
								</div>
							</li>

							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> City</label> <select
										class="custom-select" id="cityName" th:field="*{cityName}"
										th:value="${ltgnDtls.cityName}">
										<option value="Select">Select</option>
										<option th:each="cityDtl: ${allCityDtls}"
											th:value="${cityDtl.cityName}" th:text="${cityDtl.cityName}">test</option>
									</select>
								</div>
							</li>
							<li class="last">
								<div class="bottom-buttons">
									<input type="button"
										class="fourth login-bottom widthauto button-width"
										value="CLICK TO ADD CITY" id="addCityName">
								</div>
							</li>
							
						</ul>
					</div>
					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr">FIR No</label> <input type="text" id="firNo"
										th:field="*{firNo}" th:value="${ltgnDtls.firNo}">
								</div>
							</li>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup>Court/Forum</label> <select
										class="custom-select" id="courtForum" th:field="*{courtForum}"
										th:value="${ltgnDtls.courtForum}">
										<option value="Select">Select</option>
										<option th:each="courtForumDtl: ${allCourtForumDtls}"
											th:value="${courtForumDtl.courtForum}"
											th:text="${courtForumDtl.courtForum}">test</option>
									</select>
								</div>
							</li>
							<li class="last">
								<div class="bottom-buttons">
									<input type="button"
										class="fourth login-bottom widthauto button-width"
										value="CLICK TO ADD COURTFORUM" id="addCourtForum">
								</div>
							</li>
						</ul>
					</div>

					<div class="filter-form">
						<ul>
							<li><label for="usr"><sup class="red">*</sup> Facts
									of Litigation</label>
								<div class="form-group">

									<textarea rows="2" cols="35" id="factsOfLitigation"
										th:field="*{factsOfLitigation}"
										th:value="${ltgnDtls.factsOfLitigation}"> </textarea>
								</div></li>
							<li>
								<div class="form-group">
									<label for="usr"> Stage</label>
									<textarea rows="2" cols="35" id="stage" th:field="*{stage}"
										th:value="${ltgnDtls.stage}"> </textarea>
								</div>

							</li>

							<li class="last">
								<div class="form-group">
									<label for="usr"> Counsel Assessment</label>
									<textarea rows="2" cols="35" id="counselAssesment"
										th:field="*{counselAssesment}"
										th:value="${ltgnDtls.counselAssesment}"> </textarea>
								</div>
							</li>
						</ul>
					</div>

					<div class="filter-form">
						<ul>
							
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Date of
										Receipt of Matter Case</label> <input type="text"
										id="dateOfReceiptOfMatter"
										th:field="*{dateOfReceiptOfMatterCase}" placeholder="Todays"
										th:value="${ltgnDtls.dateOfReceiptOfMatterCase}">
								</div>
							</li>

							<li>
								<div class="form-group">
									<label for="usr"> Next Hearing Date</label> <input type="text"
										id="nextHearingDate" th:field="*{nextHearingDate}"
										placeholder="Todays" th:value="${ltgnDtls.nextHearingDate}">
								</div>
							</li>
							
							<li class="last">
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Status</label> <select
										class="custom-select" id="status" th:field="*{status}"
										th:value="${ltgnDtls.status}">
										<option value="Select">Select</option>
										<option th:each="statusDtl: ${allStatusDtls}"
											th:value="${statusDtl.status}" th:text="${statusDtl.status}">test</option>
									</select>
								</div>

							</li>
						</ul>
					</div>
					<!-- 				</form> -->
				</div>
				<div class="hidden_form">
					<span class="small-head">Case Relate To Period</span>
					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr"> Remark</label>
									<textarea rows="2" cols="35" id="remark" th:field="*{remark}"
										th:value="${ltgnDtls.remark}"> </textarea>
								</div>

							</li>
							<li>
								<div class="form-group">
									<label for="usr"> From Date</label> <input type="text"
										id="caseRelateFromDate" th:field="*{caseRelateFrmDte}"
										placeholder="Todays">
								</div>
							</li>
							<li class="last">
								<div class="form-group">
									<label for="usr"> To Date</label> <input type="text"
										id="caseRelateToDate" th:field="*{caseRelateToDte}"
										placeholder="Todays">
								</div>
							</li>

						</ul>
					</div>
				</div>
				<div class="hidden_form">
					<!-- 				<form th:object="${addLitigationVO}"> -->
					<span class="small-head">Assign Counsel</span>
					<div class="filter-form">
						<ul>
							<li>
								<div class="form-group">
									<label for="usr">Senior Counsel</label> <select
										class="custom-select" id="seniorCounsel" th:field="*{seniorCounsel}"
										th:value="${ltgnDtls.seniorCounsel}">
										<option value="Select">Select</option>
										<option th:each="seniorCounselDtl: ${allseniorCounselDtls}"
											th:value="${seniorCounselDtl.seniorCounsel}"
											th:text="${seniorCounselDtl.seniorCounsel}">test</option>
									</select>
								</div>

							</li>
							<li>
								<div class="form-group">
									<label for="usr"><sup class="red">*</sup> Law
										Firm/Individual</label> <select class="custom-select" id="lawfirm"
										th:field="*{lawfirm}" th:value="${ltgnDtls.lawfirm}">
										<option value="Select">Select</option>
										<option th:each="lawfirmDtl: ${allLawfirmDtls}"
											th:value="${lawfirmDtl.lawfirm}"
											th:text="${lawfirmDtl.lawfirm}">test</option>
									</select>

								</div>
							</li>
							<li class="last">
								<div class="bottom-buttons">
									<input type="button"
										class="fourth login-bottom widthauto button-width"
										value="CLICK TO ADD LAW FIRM" id="addLawfirm">
								</div>
							</li>
						</ul>
					</div>
					<!-- 				</form> -->
				</div>
				<div class="bottom-buttons">
					<input type="submit" class="fourth login-bottom apply"
						id="updateLitigationBtn" value="UPDATE"> <input
						type="button" class="fourth login-bottom apply"
						id="cancelLitigationBtn" value="CANCEL">
				</div>
				<div id="addUnitLocationModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span> <span class="welcome-head">ADD
				UNIT/LOCATION</span>
<!-- 			<form id="unitLitigationForm" th:object="${ltgnDtls}"> -->
				<div class="filter-form">
					<ul>
						<li><label for="usr"><sup class="red">*</sup>Entity</label> <select
							id="modalentityName" th:field="*{entityName}"
							class="custom-select">
								<option value="Select">Select</option>
								<option th:each="entity: ${allEntities}"
									th:value="${entity.entityName}" th:text="${entity.entityName}">test</option>
						</select></li>
						<li><label for="usr"><sup class="red">*</sup>Zone</label> <select
							id="modalzoneName" th:field="*{zoneName}" class="custom-select">
								<option value="Select">Select</option>
								<option th:each="regions: ${allRegions}"
									th:value="${regions.zoneName}" th:text="${regions.zoneName}">test</option>
						</select></li>
						<li class="last"><label for="usr"><sup class="red">*</sup>UnitName</label>
							<input type="text" th:field="*{unitName}" id="modalunitName" /></li>
					</ul>
				</div>
				<div class="bottom-buttons">
					<button type="submit" id="addUnitLocationBtn" value="ADD"
						class="btn btn-primary">ADD</button>
					<button type="button" id="modalAddUnitLocationResetBtn"
						value="Reset" class="btn btn-secondary">RESET</button>
					<button type="button" id="modalAddUnitLocationcancelBtn"
						value="CANCEL" class="btn btn-secondary">CANCEL</button>
				</div>
<!-- 			</form> -->

		</div>
	</div>
			</form>
		</div>
	</div>

	<div th:include="footer :: footer"></div>
	
	<div id="addCounterPartyModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span> <span class="welcome-head">ADD
				COUNTER PARTY</span>

			<div class="filter-form">
				<ul>
					<li class="last">
						<div class="filter-form">
							<label><sup class="red">*</sup>Counter Party Name:</label> <input
								type="text" name="counterPartyName" id="modalcounterPartyNameId"
								required="required" />
						</div>
					</li>
				</ul>
			</div>
			<div class="bottom-buttons">
				<button type="submit" id="addCounterPartyBtn" value="ADD"
					class="btn btn-primary">ADD</button>
				<button type="button" id="modalAddCounterPartyResetBtn"
					value="Reset" class="btn btn-secondary">RESET</button>
				<button type="button" id="modalAddCounterPartycancelBtn"
					value="CANCEL" class="btn btn-secondary">CANCEL</button>
			</div>

		</div>
	</div>
	<div id="addUnderActsModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span> <span class="welcome-head">ADD
				UNDER ACTS</span>

			<div class="filter-form">
				<ul>
					<li class="last">
						<div class="filter-form">
							<label><sup class="red">*</sup>UnderAct(s):</label> <input
								type="text" name="underActName" id="modalUnderActId"
								required="required" />
						</div>
					</li>
				</ul>
			</div>
			<div class="bottom-buttons">
				<button type="submit" id="addUnderActBtn" value="ADD"
					class="btn btn-primary">ADD</button>
				<button type="button" id="modalAddUnderActsResetBtn" value="Reset"
					class="btn btn-secondary">RESET</button>
				<button type="button" id="modalAddUnderActscancelBtn" value="CANCEL"
					class="btn btn-secondary">CANCEL</button>
			</div>

		</div>
	</div>
	<div id="addCategoryModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<p th:text="${message}" th:unless="${message == null}"
				class="alert alert-success">Test</p>
			<span class="close">&times;</span> <span class="welcome-head">ADD
				CATEGORY</span>

			<div class="filter-form">
				<ul>
					<li class="last">
						<div class="filter-form">
							<label><sup class="red">*</sup>Category:</label> <input
								type="text" name="categoryName" id="modalCategoryId"
								required="required" />
						</div>
					</li>
				</ul>
			</div>
			<div class="bottom-buttons">
				<button type="submit" id="addCategoryBtn" value="ADD"
					class="btn btn-primary" onclick = "addCategoryData(modalCategoryId.value);">ADD</button>
				<button type="button" id="modalAddCategoryResetBtn" value="Reset"
					class="btn btn-secondary">RESET</button>
				<button type="button" id="modalAddCategoryCancelBtn" value="CANCEL"
					class="btn btn-secondary">CANCEL</button>
			</div>

		</div>
	</div>
	<div id="addCourtTypeModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span> <span class="welcome-head">ADD
				COURT TYPE</span>
			<p th:text="${message}" th:unless="${message == null}"
				class="alert alert-success">Test</p>

			<div class="filter-form">
				<ul>
					<li class="last">
						<div class="filter-form">
							<label><sup class="red">*</sup>CourtType:</label> <input
								type="text" name="courtTypeName" id="modalCourtTypeId"
								required="required" />
						</div>
					</li>
				</ul>
			</div>
			<div class="bottom-buttons">
				<button type="submit" id="addCourtTypeBtn" value="ADD"
					class="btn btn-primary" onclick="addCourtTypeData(modalCourtTypeId.value);">ADD</button>
				<button type="button" id="modalAddCourtTypeResetBtn" value="Reset"
					class="btn btn-secondary">RESET</button>
				<button type="button" id="modalAddCourtTypeCancelBtn" value="CANCEL"
					class="btn btn-secondary">CANCEL</button>
			</div>

		</div>
	</div>
	<div id="addLawfirmModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<!-- <p th:text="${message}" th:unless="${message == null}"
				class="alert alert-success">Test</p> -->
			<span class="close">&times;</span> <span class="welcome-head">ADD
				LAWFIRM</span>

			<div class="filter-form">
				<ul>
					<li class="last">
						<div class="filter-form">
							<label><sup class="red">*</sup>Lawfirm/Individual:</label> <input
								type="text" name="lawfirm" id="modalLawfirmId"
								required="required" />
						</div>
					</li>
				</ul>
			</div>
			<div class="bottom-buttons">
				<button type="submit" id="addLawfirmBtn" value="ADD"
					class="btn btn-primary" onclick="addLawfirmData(modalLawfirmId.value);">ADD</button>
				<button type="button" id="modalAddLawfirmResetBtn" value="Reset"
					class="btn btn-secondary">RESET</button>
				<button type="button" id="modalAddLawfirmCancelBtn" value="CANCEL"
					class="btn btn-secondary">CANCEL</button>
			</div>

		</div>
	</div>
	<div id="addMatterByAgainstModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<p th:text="${message}" th:unless="${message == null}"
				class="alert alert-success">Test</p>
			<span class="close">&times;</span> <span class="welcome-head">ADD
				MATTER BY/AGAINST</span>

			<div class="filter-form">
				<ul>
					<li class="last">
						<div class="filter-form">
							<label><sup class="red">*</sup>Matter By/Against:</label> <input
								type="text" name="matterBy" id="modalmatterById"
								required="required" />
						</div>
					</li>
				</ul>
			</div>
			<div class="bottom-buttons">
				<button type="submit" id="addMatterByBtn" value="ADD"
					class="btn btn-primary">ADD</button>
				<button type="button" id="modalAddMatterByAgainstResetBtn"
					value="Reset" class="btn btn-secondary">RESET</button>
				<button type="button" id="modalAddMatterByAgainstCancelBtn"
					value="CANCEL" class="btn btn-secondary">CANCEL</button>
			</div>

		</div>
	</div>
	<div id="addCityNameModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span> <span class="welcome-head">ADD
				CITY</span>

			<div class="filter-form">
				<ul>
					<li class="last">
						<div class="filter-form">
							<label><sup class="red">*</sup>CITY:</label> <input type="text"
								name="city" id="modalCity" required="required" />
						</div>
					</li>
				</ul>
			</div>
			<div class="bottom-buttons">
				<button type="submit" id="addCityBtn" value="ADD"
					class="btn btn-primary" onclick="addCityDtls(modalCity.value);">ADD</button>
				<button type="button" id="modalAddCityResetBtn" value="Reset"
					class="btn btn-secondary">RESET</button>
				<button type="button" id="modalAddCityCancelBtn" value="CANCEL"
					class="btn btn-secondary">CANCEL</button>
			</div>

		</div>
	</div>
	<div id="addCourtForumModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span> <span class="welcome-head">ADD
				COURT/FORUM</span>

			<div class="filter-form">
				<ul>
					<li class="last">
						<div class="filter-form">
							<label><sup class="red">*</sup>Court/Forum:</label> <input
								type="text" name="courtForum" id="modalCourtForum"
								required="required" />
						</div>
					</li>
				</ul>
			</div>
			<div class="bottom-buttons">
				<button type="submit" id="addCourtForumBtn" value="ADD"
					class="btn btn-primary"
					onclick="addCourtForumDtls(modalCourtForum.value);">ADD</button>
				<button type="button" id="modalAddCourtForumResetBtn" value="Reset"
					class="btn btn-secondary">RESET</button>
				<button type="button" id="modalAddCourtForumCancelBtn"
					value="CANCEL" class="btn btn-secondary">CANCEL</button>
			</div>

		</div>
	</div>
</body>
</html>